CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/bin
/output

/cmake-build-debug
CMakeLists.txt.user
/.idea
/lib
/build
CMakeLists.txt.user
